<form class="tab-pane show active" id="section1" role="tabpanel">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="text-center" data-toggle="tooltip" data-placement="bottom"
                    title="Como seu personagem se parece? Clique para colocar uma imagem!">
                    <label for="character-image">
                        <img src="/public/svg/character-icon-template.svg" alt="Character icon" class="character-icon">
                        <input type="file" id="character-image" name="character-image" hidden
                            accept="image/png;image/jpeg">
                    </label>
                </div>

                <div class="form-group">
                    <label for="character-name">Nome</label>
                    <input type="text" class="form-control" id="character-name" name="character-name"
                        placeholder="Digite o seu nome..." value="<%= (personagem && personagem.nome) || "" %>">
                </div>

                <div class="row">
                    <div class="col-4 col-sm-3">
                        <div class="form-group" data-toggle="tooltip" data-placement="bottom"
                            title="Possibilida ganho de pontos de antecedentes e adição de novas habilidades">
                            <label for="character-level">Nível: </label>
                            <input type="number" id="character-level" name="character-level" class="form-control"
                                value="<%= (personagem && personagem.nivel) || 0 %>">
                        </div>
                    </div>
                    <div class="col-4 col-sm-3">
                        <div class="form-group" data-toggle="tooltip" data-placement="bottom"
                            title="Quanto experiente seu personagem é, referir ao livro para determinar seu nível">
                            <label for="character-exp">XP: </label>
                            <input type="number" id="character-exp" name="character-exp" class="form-control"
                                value="<%= (personagem && personagem.exp) || 0 %>">
                        </div>
                    </div>
                </div>

                <div data-toggle="tooltip" data-placement="top"
                    title="O objetivo que seu personagem quer solucionar, referir ao livro ou ao juíz do jogo">
                    <div class="form-group">
                        <label for="character-tormento">Tormento</label>
                        <input type="text" class="form-control" id="character-tormento" name="character-tormento"
                            value="<%= (personagem && personagem.tormento.main) || "" %>">
                    </div>
                    <div class="form-group">
                        <label for="character-subtormento">Subtormento</label>
                        <input type="text" class="form-control" id="character-subtormento" name="character-subtormento"
                            value="<%= (personagem && personagem.tormento.sub) || "" %>">
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-6">
                <button type="button" class="btn btn-light" onclick="handleBackSection(0)">Anterior</button>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-dark">Próximo</button>
            </div>
        </div>
    </div>
</form>

<script>
    $("#section1").validate({
        rules: {
            "character-name": {
                required: true
            },
            "character-level": {
                required: true,
                range: [1, 6]
            },
            "character-exp": {
                required: true,
                range: [0, 60]
            },
            "character-tormento": {
                required: true
            },
            "character-subtormento": {
                required: true
            }
        },

        submitHandler: function (form) {
            handleNextSection(2);
        }
    });
</script>