<form class="tab-pane invisible" id="section2" role="tabpanel">
    <div class="container-fluid text-center">
        <div class="row justify-content-center">
            <div class="col-4 col-sm-2 col-md-2 col-lg-1">
                <div class="form-group">
                    <label for="character-def">DEF: </label>
                    <input type="number" class="form-control" id="character-def" name="character-def"
                        value="<%= personagem.def || 0 %>">
                </div>
                <div class="form-group">
                    <label for="character-pv">PV: </label>
                    <input type="number" class="form-control" id="character-pv" name="character-pv"
                        value="<%= personagem.pv || 0 %>">
                </div>
            </div>
            <div class="col-4 col-sm-2 col-md-2 col-lg-1">
                <div class="form-group">
                    <label for="character-ini">Iniciativa: </label>
                    <input type="number" class="form-control" id="character-ini" name="character-ini"
                        value="<%= personagem.iniciativa || 0 %>">
                </div>
                <div class="form-group">
                    <label for="character-actions">Ações: </label>
                    <input type="number" class="form-control" id="character-actions" name="character-actions"
                        value="<%= personagem.acoes || 0 %>">
                </div>
            </div>
        </div>
        <h3>Atributos</h3>
        <div class="row justify-content-center">
            <div class="col-4 col-sm-2 col-md-2 col-lg-1">
                <div class="form-group">
                    <label for="character-phy">Fisico: </label>
                    <input type="number" class="form-control" id="character-fisico" name="character-fisico"
                        value="<%= personagem.atributos.fisico || 0 %>">
                </div>
                <div class="form-group">
                    <label for="character-coragem">Coragem: </label>
                    <input type="number" class="form-control" id="character-coragem" name="character-coragem"
                        value="<%= personagem.atributos.coragem || 0 %>">
                </div>
            </div>
            <div class="col-4 col-sm-2 col-md-2 col-lg-1">
                <div class="form-group">
                    <label for="character-inteligencia">Inteligência: </label>
                    <input type="number" class="form-control" id="character-inteligencia" name="character-inteligencia"
                        value="<%= personagem.atributos.inteligencia || 0 %>">
                </div>
                <div class="form-group">
                    <label for="character-agilidade">Agilidade: </label>
                    <input type="number" class="form-control" id="character-agilidade" name="character-agilidade"
                        value="<%= personagem.atributos.agilidade || 0 %>">
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-6">
                <button type="button" class="btn btn-light" onclick="handleBackSection(1)">Anterior</button>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-dark">Próximo</button>
            </div>
        </div>
    </div>
</form>

<script>
    $("#section2").validate({
        rules: {
            "character-def": {
                required: true
            },
            "character-pv": {
                required: true
            },
            "character-ini": {
                required: true
            },
            "character-actions": {
                required: true
            },
            "character-fisico": {
                required: true
            },
            "character-inteligencia": {
                required: true
            },
            "character-agilidade": {
                required: true
            },
            "character-coragem": {
                required: true
            }
        },

        submitHandler: function (form) {
            handleNextSection(3);
        }
    });
</script>