<form class="tab-pane invisible" id="section3" role="tabpanel">
    <div class="container-fluid text-center">
        <h3>Antecedentes</h3>
        <div class="row justify-content-center">
            <div class="col-4 col-sm-2 col-md-2 col-lg-1">
                <div class="form-group">
                    <label for="character-combate">Combate: </label>
                    <input type="number" class="form-control" id="character-combate" name="character-combate"
                        value="<%= (personagem && personagem.antecedentes.combate) || 0 %>">
                </div>
                <div class="form-group">
                    <label for="character-negocios">Negócios: </label>
                    <input type="number" class="form-control" id="character-negocios" name="character-negocios"
                        value="<%= (personagem && personagem.antecedentes.negocios) || 0 %>">
                </div>
                <div class="form-group">
                    <label for="character-montaria">Montaria: </label>
                    <input type="number" class="form-control" id="character-montaria" name="character-montaria"
                        value="<%= (personagem && personagem.antecedentes.montaria) || 0 %>">
                </div>
                <div class="form-group">
                    <label for="character-tradicao">Tradição: </label>
                    <input type="number" class="form-control" id="character-tradicao" name="character-tradicao"
                        value="<%= (personagem && personagem.antecedentes.tradicao) || 0 %>">
                </div>
            </div>
            <div class="col-4 col-sm-2 col-md-2 col-lg-1">
                <div class="form-group">
                    <label for="character-exploracao">Exploração: </label>
                    <input type="number" class="form-control" id="character-exploracao" name="character-exploracao"
                        value="<%= (personagem && personagem.antecedentes.exploracao) || 0 %>">
                </div>
                <div class="form-group">
                    <label for="character-roubo">Roubo: </label>
                    <input type="number" class="form-control" id="character-roubo" name="character-roubo"
                        value="<%= (personagem && personagem.antecedentes.roubo) || 0 %>">
                </div>
                <div class="form-group">
                    <label for="character-medicina">Medicina: </label>
                    <input type="number" class="form-control" id="character-medicina" name="character-medicina"
                        value="<%= (personagem && personagem.antecedentes.medicina) || 0 %>">
                </div>
                <div class="form-group">
                    <label for="character-labuta">Labuta: </label>
                    <input type="number" class="form-control" id="character-labuta" name="character-labuta"
                        value="<%= (personagem && personagem.antecedentes.labuta) || 0 %>">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 col-sm-2 col-md-2 col-lg-1">
                <div class="form-group ">
                    <label for="character-recompensa">Recompensa: </label>
                    <input type="number" class="form-control" id="character-recompensa" name="character-recompensa"
                        value="<%= (personagem && personagem.recompensa) || 0 %>">
                </div>
            </div>
        </div>

        <h3>Habilidades</h3>
        <div class="container-fluid form-check vertical-scroll" id="habilidades">
            <div class="row">
                <div class="col-4">Ativa</div>
                <div class="col-8">Habilidade</div>
            </div>
            <!-- Preenchido pelo /public/create.js -->
        </div>
        <div class="row text-center">
            <div class="col-6">
                <button type="button" class="btn btn-light" onclick="handleBackSection(2)">Anterior</button>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-dark">Próximo</button>
            </div>
        </div>
    </div>

</form>

<script>
    $("#section3").validate({
        rules: {
            "character-combate": {
                required: true
            },
            "character-negocios": {
                required: true
            },
            "character-montaria": {
                required: true
            },
            "character-tradicao": {
                required: true
            },
            "character-roubo": {
                required: true
            },
            "character-exploracao": {
                required: true
            },
            "character-medicina": {
                required: true
            },
            "character-labuta": {
                required: true
            },
            "character-recompensa": {
                required: true
            }
        },

        submitHandler: function (form) {
            handleNextSection(4);
        }
    });
</script>