<form class="tab-pane invisible" id="section4" role="tabpanel">
    <div class="container-fluid">
        <div class="row" data-toggle="tooltip" data-placement="bottom" title="O que seu personagem leva?">
            <div class="col-9">
                <h2>Equipamentos</h2>
            </div>
            <div class="col-3">
                <h2>Dano</h2>
            </div>
        </div>
        <div class="row vertical-scroll">
            <div class="col-9 form-group">
                <% for( let i=0; i < 10; i++ ) { %>
                    <input type="text" class="form-control" id="<%-`item-${i}`%>" name="item"
                        value="<%= (personagem && personagem.equipamentos[i].nome) || "" %>">
                    <% } %>
            </div>
            <div class="col-3 form-group">
                <% for( let i=0; i < 10; i++ ) { %>
                    <input type="text" class="form-control" id="<%-`item-dmg-${i}`%>" name="item-dmg"
                        value="<%= (personagem && personagem.equipamentos[i].dano) || "" %>">
                    <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <div class="form-group">
                    <input type="checkbox" class="form-control" id="character-has-horse" name="character-has-horse"
                        checked="<%= (personagem && personagem.cavalo) %>">
                    <label for="character-has-horse">O personagem tem cavalo?</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group" data-toggle="tooltip" data-placement="bottom"
                    title="Quanto dinheiro seu personagem tem no bolso?">
                    <label for="character-dinheiro">Dinheiro: </label>
                    <input type="number" class="form-control" id="character-dinheiro" name="character-dinheiro"
                        value="<%= (personagem && personagem.dinheiro) || 150 %>">
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-6">
                <button type="button" class="btn btn-light" onclick="handleBackSection(3)">Anterior</button>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-dark">Próximo</button>
            </div>
        </div>
    </div>

</form>

<script>
    $("#section4").validate({
        rules: {
            "character-dinheiro": {
                required: true,
                min: 0
            },
        },
        submitHandler:
            form => {
                if ($("#character-has-horse").prop("checked")) {
                    handleNextSection(5);
                } else {
                    enviarForm()
                }
            }
    });
</script>