<div class="page">
    <form action="/create" method="post" class="form-section py-3">
        <div class="tab-content" id="create-character-tabs">
            <%- include("tabs/tab1") %>
            <%- include("tabs/tab2") %>
            <%- include("tabs/tab3") %>
            <%- include("tabs/tab4") %>
            <%- include("tabs/tab5") %>
        </div>
    </form>
</div>

<script src="/public/js/create.js"></script>

<%- contentFor("cabecalho") %>

<link rel="stylesheet" href="/public/css/create.css">
