<div class="container pt-3">
    <% if (personagens.length==0 ) { %>
        <div class="row welcome">
            <div class="welcome-sign">
                Você ainda precisa criar seu primeiro personagem!
                <a class="btn btn-danger" href="/create" role="button">Crie o seu personagem</a>
            </div>
        </div>
        <% } else { %>
            <div class="row justify-content-center">
                <h1>Seus personagens</h1>
            </div>
            <div class="row justify-content-center">
                <a class="btn btn-danger" href="/create" role="button">Crie o seu personagem</a>
            </div>
            <div class="character-list row justify-content-sm-center pt-3">
                <% for( let i=0; i < personagens.length; i++ ) { %>
                    <a href=<%- `/characters/${personagens[i].id}` %> id="character" class="character col-sm-5 col-md-4
                        col-lg-3 m-3 d-flex flex-column justify-content-around">
                        <div class="row justify-content-center">
                            <img src="<%= root %>/public/img/characters/<%= (personagens[i].icon ? (personagens[i].id + ".jpg") : "default.png") %>"
                            alt="<%- personagens[i].name %>" class="img-fluid">
                        </div>

                        <div class="row justify-content-center">
                            <div class="character-name">
                                <%= personagens[i].name %>
                            </div>
                        </div>

                        <div class="row justify-content-around">
                            <div class="character-level">
                                NV: <%= personagens[i].level %>
                            </div>
                            <div class="character-pv">
                                PV: <%= personagens[i].pv %>
                            </div>
                            <div class="character-pv">
                                EXP: <%= personagens[i].exp %>
                            </div>
                        </div>
                    </a>
                    <% } %>
            </div>
            <% } %>


</div>